{% extends "template.html" %}
{% block title %}Texture Hub{% endblock %}
{% block content %}
<div class="th-detail-panel">
    <div class="th-detail-title-row">
        <h1 class="th-detail-title">{{ collection.collection_name }}</h1>
        <div class="th-detail-author">Uploaded by <a class="th-signup-link" href="/user/{{ collection_user.user_name }}">{{ collection_user.user_name }}</a></div>
    </div>
    <div class="th-collection-row">
        <span class="th-stat-label">Collection</span>
        <div class="th-stat-track"></div>
        <span class="th-stat-value">{{ textures|length }} textures</span>
    </div>
</div>

<div class="th-texture-grid" style="margin-top: 24px;">
    {% for item in textures %}
        {% include "texture_template.html" %}
    {% endfor %}
</div>
{% endblock %}
