{% extends "template.html" %}
{% block content %}
{% if error%}
    <div class="error">
        <p>{{error}}</p>
    </div>
{% endif%}
<div class="th-login-wrap">
    <div class="th-login-card">
        <h1 class="th-login-title">Sign up</h1>
        <div class="th-login-box">
            <form action="/signup" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="th-label" for="username">Username</label>
                <input class="th-input" type="text" id="username" name="username">
                <label class="th-label" for="password">Password</label>
                <input class="th-input" type="password" id="password" name="password">
                <button class="th-btn th-btn-block" type="submit">Sign up</button>
            </form>
        </div>
        <p class="th-signup-row">Already have an account? <a class="th-signup-link" href="/login">Login</a></p>
    </div>
</div>
{% endblock %}
