{% extends "template.html" %}
{% block title %}Texture Hub{% endblock %}
{% block content %}
<div class="texture-shell">
    <aside class="texture-shell__sidebar" aria-hidden="true"></aside>

    <main class="texture-shell__main">
        <section class="texture-panel">
            <div class="texture-hero">
                <div class="texture-hero__preview">
                    
                    <div class="texture-hero__frame">
                        <img class="texture-hero__img" src="{{ texture.texture_address | texture_url }}" alt="{{ texture.texture_name }}">
                    </div>
                    <form class="texture-hero__download" action="/download/{{texture.texture_id}}" method="post">
                        <input type="submit" value="download" name="download">
                    </form>
                    


                    <label for="cars">Add to Collection</label>
                    <form action="/texture/{{texture.texture_id}}" method="post">
                        <select name="collection" id="cars">
                            {% for item in collections %}
                            <option value="{{ item.collection_id }}">{{ item.collection_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="+" name="add_to_collection">
                    </form>
                </div>

                <div class="texture-hero__meta">
                    <h1 class="texture-hero__title">{{ texture.texture_name }}</h1>
                    <div class="texture-hero__sub">Uploaded by <a class="texture-hero__user" href="/user/{{ uploaded_user.user_name }}">{{ uploaded_user.user_name }}</a></div>

                    <div class="texture-hero__blurb" aria-hidden="true">
                        <div> </div>
                        <div> </div>
                        <div> </div>
                    </div>
                    {% if texture.texture_tags %}
                        {% for tag in texture.texture_tags.split(',') %}
                        <span class="texture-tag">{{ tag.strip() }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
